.container{
    max-width: 90px;
    padding:10px 10px;
}
.container img{
    max-height:100%;
}

body{
    font-family:"Inter";
    background:white;
}

.btn-funky-moon {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #9bf2fd, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #fdb29b, #f38bea, #70c7ef); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    font-family: 'Inter';
    padding: 2% 4%;
    font-size: 30;
}

.navbar{
    font-family:'Inter';
    font-Weight: bold;
}

.list-inline-item{
    margin-right:10px;
  }

.btn-rounded {
    border-radius: 35px;
    outline:0;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    font-family:'Inter';
}

h4{
    font-weight: w600;
    font-size: 18;
    font-family:'Inter';
}

h2 {
    font-weight: bold;
    font-size: 35px;
    font-family:'Inter';

}

.container{
    position:relative;
    color:blue,
}

.list-inline-item{
    position: inherit;
    font-family: 'Inter';
    font-size:15px;
    font-weight: 600;
    color:black;
}



#image{
    
    max-width: 20%;
    max-height: 20%; /* or to whatever you want here */
    /* or to whatever you want here */
}

#header{
    position:relative;
    margin-top:0; 
    vertical-align:center;
    width:100%;
    text-align: center;
    height:40px;
    
}

#content{
    position:absolute;
    top:30%;
    width:100%;
    height:80%;
}

#left{
    position:relative;
    width:50%;
    font-size: 300px;
    line-height: 40px;
    text-align:right;
    float: left;
    height:50%;
}

#right{
    top:33%;
    left:100%;
    position:absolute;
    width:50%;
    float: right;
    height:50%;
}

.logo{
    float:left;
    margin-left:20px;
}



nav{
    color: aqua;
    position:absolute;
    left:0%;
    bottom:0;
    width: 100%;
    margin-right: 50%;
    font-weight:bold;
    height:5%;
}

.myButton {
    padding: 30px;
    margin-right:20px;
    display:block;
    color: white;
    text-align:center;
    position: absolute;
    top: 15px;
    right: 30px;
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #9bf2fd, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #fdb29b, #f38bea, #70c7ef); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    font-family: 'Inter';
    padding: 5px 25px;
    font-size: 12;

}

.text-justify{
    margin-left:25%;
    width:50%;
}

.text-center{
    margin-top:20px;
    margin-bottom:30px;
    font-size:10px;


}


.center{
    display: block;
    margin-top:40px;
    margin-left: 47%;
    margin-right: auto;
    padding:10px 10px;
    width: 20%;
    text-align:center;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }

nav li{
    margin-left:30px;
    font-weight:bold;

}

a {
    color:black;
    font-family:'Inter';
    text-decoration: none;
    font-weight:bolder;


}

/* unvisited link */
a:link {
    color: black;
    font-weight:500;
  }
  
a:hover{
    text-decoration: underline;
    color:black;

}
/* selected link */
a:active {
font-weight: 600;
text-decoration: underline;
color:black;
}